@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primary: #1976d2;
$secondary: #0e2c75;
$accent: #9c27b0;

$dark: #798aa3;
$dark-page: #121212;
$dark-true: #000000;
$black: #000;
$white: #ffff;
$whitepage: #f1f1f1;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$purple: #6358dc;

$typography-font-family: 'Inter', sans-serif !default;
